[submodule "character-service"]
	path = character-service
	url = https://github.com/dragonbotz/character-service.git
[submodule "portal-service"]
	path = portal-service
	url = https://github.com/dragonbotz/portal-service.git
[submodule "summon-service"]
	path = summon-service
	url = https://github.com/dragonbotz/summon-service.git
[submodule "discord-client"]
	path = discord-client
	url = https://github.com/dragonbotz/discord-client.git
[submodule "dbzlib-rs"]
	path = dbzlib-rs
	url = https://github.com/dragonbotz/dbzlib-rs.git
[submodule "player-collection"]
	path = player-collection
	url = https://github.com/dragonbotz/player-collection.git
