[submodule "character-service"]
	path = character-service
	url = https://github.com/dragonbotz/character-service.git
[submodule "portal-service"]
	path = portal-service
	url = https://github.com/dragonbotz/portal-service.git
[submodule "summon-service"]
	path = summon-service
	url = https://github.com/dragonbotz/summon-service.git
[submodule "discord-client"]
	path = discord-client
	url = https://github.com/dragonbotz/discord-client.git
